body {
  margin: 0; 
  background-color: #ffffff;
}

.barra-superior {
  width: 100%;
  box-sizing: border-box;
  min-height: 75px;
  margin: 0;
  padding: 20px;
  background-color: #6DA676; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius:  0px;
}

.acciones-derecha {
  display: flex;
  align-items: center;
  gap: 12px;
}

.barra-superior .material-symbols-outlined {
  padding: 6px;
  color: #636060;
  background-color: #e5e5e52d;
  border-radius: 6px;
}

.barra-superior h1 {
  margin: 0;
  font-size: 2rem;
}

.barra-superior p {
  margin: 0;
  font-size: 1rem;          
  color: #94a3b8;         
  text-align: center;       
}

.img-fluid {
  position: fixed;
  right: 0;
  width: 120px;
  max-width: 100px;
  height: auto;
  pointer-events: none;
  bottom: 0;
}

.img-fluid2 {
  position: fixed;
  left: 0;
  width: 120px;
  max-width: 100px;
  height: auto; 
  bottom: 0;
}