main {
  display: flex;
}

body {
  background-color: #e7e7e7;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #e7e7e7;
}

#Titulo {
  text-align: center;
}

#Principal {
  background-color: rgb(0, 0, 0);
  width: 90%;
}

#Seccion1 {
  background-color: #cac8c8;

}

.articulo {
  background-color: #a3bb18;
  width: 24%;
  height: 120px;
  margin: 15px;
  padding: 15px;
}

.Seccion_s {
  display: flex;
  flex-direction: row;
  width: 100%;

}

#Seccion2 {
  background-color: rgb(153, 161, 46);
  width: 100%;
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

#Menu {
  background-color: #D4AF37;
  width: 30%;
  padding: 10px;
}

#seccion_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 10px 20px 10px 0; 
  box-sizing: border-box;
}

#Pie {
  background-color: #E5C158;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#img-bg {
  background-image: url("https://th.bing.com/th/id/R.95fce61b5fd5493de0e7c649fae02ecf?rik=vw0PbGNPfuFFNw&pid=ImgRaw&r=0");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.art2 {
  width: 33%;
  
}

#color-dg {
  background: linear-gradient(to top, #FF2A6D, black);
}

.contenido-flex{
  display: flex;
  align-items: center;
  height: 100%;
  padding: 10px;
  gap: 15px;
}

.columna-flex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  gap: 1px;
  overflow: hidden;
}

.galeria-mini{
display: flex;
flex-direction: row;
justify-content: center;
gap: 15px;
}

.galeria-mini img{
width: 15%;
aspect-ratio: 1/ 1;
object-fit: cover;
background-color: #30773f;

}

.caja-imagen{
padding:0;
}

.caja-imagen img{
  width: 100%;
  height: 100%;
  justify-content: left;
  object-fit: cover;
}


.caja-icono{
display: flex;
justify-content: center;
width: 40px;
height: 40px;
align-items: center;
}

.caja-icono{
  font-size: 28px;
  color: white;
}

.aside_footer {
    display: flex;          
    flex-direction: row;    
    padding-right: 10px;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;              
    width: 30%;
}

